.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.account_box {
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.account_right_box {
  gap: 1rem;
}

.signin_link {
  gap: 1rem;
}

.no_profile_image {
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.account_right_box p {
  font-weight: 300;
}

.text_group {
  width: 80%;
}

@media (hover: hover) {
  .signin_link:hover {
    text-decoration: underline;
  }
}
