.flex {
	display: flex;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.help_box {
	padding: 1rem;
	padding-bottom: 3rem;
}

.help_box a {
	text-decoration: none;
	color: var(--black);
}

.help_box a:focus {
	color: var(--black);
	outline: none;
}

.back_btn {
	align-items: center;
	gap: 4px;
	background-color: transparent;
}

.back_btn > p {
	font-size: 16px;
	color: rgba(9, 56, 105, 1);
}

.help_box > h2 {
	text-align: center;
	margin: 1rem 0 2rem;
	color: rgba(0, 60, 167, 1);
}

.tabs_box {
	margin-top: 0.5rem;
}
