.flex {
	display: flex;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.password_box {
	padding: 1rem;
	padding-bottom: 5rem;
}

.back_btn {
	align-items: center;
	gap: 4px;
	background-color: transparent;
}

.password_box a {
	text-decoration: none;
	color: var(--black);
}

.password_box a:focus {
	color: var(--black);
	outline: none;
}

.back_btn p {
	font-size: 16px;
	color: rgba(9, 56, 105, 1);
}

.password_box > h2 {
	text-align: center;
	margin: 1rem 0 2rem;
}

.password_box > p {
	font-weight: 300;
	margin-bottom: 2rem;
}

.form_box {
	gap: 2rem;
}

.forgot_password_link {
	text-align: right;
	margin-top: 0.5rem;
}

.forgot_password_link > a {
	color: #093869;
	font-weight: 300;
	text-decoration: underline;
}

.new_password_box > div {
  margin-bottom: 1rem;
}

.password_check_group_empty {
	gap: 8px;
	align-items: center;
	font-size: 13px;
	font-weight: 300;
	color: #717171;
}

.submit_btn {
	color: var(--white);
	background-color: rgba(233, 72, 51, 1);
	padding: 12px 24px;
	font-size: 20px;
	border-radius: 4px;
}
