.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.policy_box {
  padding: 1rem;
  padding-bottom: 5rem;
}

.policy_box a {
  text-decoration: none;
  color: var(--black);
}

.policy_box a:focus {
  color: var(--black);
  outline: none;
}

.back_btn {
  align-items: center;
  gap: 4px;
  background-color: transparent;
}

.back_btn > p {
  font-size: 16px;
  color: rgba(9, 56, 105, 1);
}

.policy_box > h2 {
  text-align: center;
  margin: 1rem 0 2rem;
  color: rgba(0, 60, 167, 1);
}

.policy_box p {
  font-weight: 300;
  font-size: 15px;
}

.policy_box > section > ul {
  margin-left: 2rem;
}

.policy_box > section > ul > li {
  font-weight: 300;
  font-size: 15px;
  color: rgba(51, 51, 51, 1);
}

@media screen and (min-width: 1024px) {
  .policy_box {
    width: 80%;
    margin: 55px auto 0;
  }
}
