.flex {
	display: flex;
}

.directory {
	margin-top: 80px;
}

.results_box {
	flex-grow: 1;
}

.gray_divider {
	height: 10px;
	background-color: #f4f4f4;
}

.directory_cards_container {
	padding: 0 20px;
}

.map_fab_mobile {
	position: fixed;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -5%);
}

.filters_box {
	display: none;
}

.map_view_box {
	display: none;
}

@media screen and (min-width: 769px) {
	.map_fab_mobile {
		display: none;
	}

	.directory {
		margin-top: 0;
		background-color: #f5f5f5;
	}

	.filters_box {
		display: block;
		width: 12%;
	}

	.results_box {
		width: 40%;
		margin: 24px;
	}

	.directory_cards_container {
		padding: unset;
	}

	.map_view_box {
		display: block;
		background-color: var(--white);
		width: 37%;
	}
}
