.sort_button_box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
	gap: 15px;
}

.btn {
	font-size: 20px;
	padding: 12px 16px;
	border-radius: 4px;
	flex-grow: 1;
}

.clear_btn {
	background-color: #ffffff;
	color: #093769;
	border: 1px solid #09386980;
}

.apply_btn {
	background-color: #e94833;
	color: var(--white);
}
