.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.email_login_box {
  margin: 55px 1.5rem 0;
  text-align: center;
  padding-top: 4rem;
}

.email_login_box h2 {
  color: #093869;
  font-size: 24px;
  font-weight: 600;
}

.email_login_box h4 {
  font-weight: 400;
  font-size: 18px;
  padding: 0.25rem 0 0 0;
}

.credentials_box {
  padding: 2rem 0 1.5rem;
  gap: 1rem;
}

.login_btn {
  width: 100%;
  border: 1px solid #09386980;
  border-radius: 5px;
  background-color: #e94833;
  padding: 0.75rem;
  color: var(--white);
  height: 48px;
  font-size: 16px;
}

.forgot_password_link {
  text-align: right;
}

.forgot_password_link > a {
  color: #093869;
  font-weight: 300;
}

.signup_link_group,
.oauth_box {
  justify-content: center;
}

.signup_link_group,
.oauth_box,
.divider_group {
  padding: 1.25rem 0;
}

.signup_link_group {
  gap: 8px;
}

.signup_link_group p,
.signup_link_group > a {
  font-weight: 300;
}

.signup_link_group > a {
  color: #e94833;
}

.oauth_box {
  width: 70%;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.footer_message {
  color: #717171;
  font-weight: 300;
  font-size: 14px;
}

.footer_message a {
  color: #093869;
}

@media screen and (min-width: 1024px) {
  .email_login_box {
    width: 80%;
    margin: 55px auto 0;
  }

  .login_btn {
    height: 52px;
  }
}

@media screen and (min-width: 1440px) {
  .email_login_box {
    width: 50%;
  }
}
