.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.forgot_password_box {
  margin: 55px 1.5rem 0;
  text-align: center;
  padding-top: 4rem;
}

.forgot_password_box h2 {
  color: #093869;
  font-size: 24px;
  font-weight: 600;
}

.forgot_password_box > p {
  font-weight: 300;
  font-size: 18px;
  padding: 0.25rem 0 1rem;
}

.credentials_box {
  padding: 2rem 0 1.5rem;
  gap: 3rem;
}

.login_btn {
  width: 100%;
  border: 1px solid #09386980;
  border-radius: 5px;
  background-color: #e94833;
  padding: 0.75rem;
  color: var(--white);
  height: 48px;
  font-size: 16px;
  margin-bottom: 2rem;
}

.back_to_login_link a {
  color: #e94833;
}

@media screen and (min-width: 1024px) {
  .forgot_password_box {
    width: 80%;
    margin: 55px auto 0;
  }
}

@media screen and (min-width: 1280px) {
  .forgot_password_box {
    width: 60%;
  }
}
