.flexRow {
  display: flex;
}

.deals_card_container {
  gap: 1rem;
  width: 100%;
  overflow: scroll;
  padding: 0 20px 20px;
}

@media screen and (min-width: 769px) {
  .deals_of_week_container {
    display: block;
    width: 100%;
    position: relative;
  }

  .deals_of_week_heading {
    padding: 0 12%;
  }

  .deals_card_container {
    padding: 0 12% 20px;
  }
}
