.desktop_footer {
	display: block;
}

.footer {
	background-color: var(--deals-primary-med);
	padding: 50px 10% 30px;
}

.footer p,
.footer h4 {
	color: var(--white);
}

.footer p {
	padding-bottom: 0.5rem;
}

.footer h4 {
	padding-bottom: 1rem;
}

.link {
	color: var(--white);
	text-decoration: none;
	display: block;
	padding-bottom: 0.5rem;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 2fr 1fr;
	column-gap: 2rem;
	grid-template-areas:
		"info info link-1 link-2 link-3 link-4"
		"socials socials download download download download";
}

.thainow_logo {
	width: 150px;
	height: auto;
	padding-bottom: 1rem;
}

.grid_item_1 {
	grid-area: info;
	align-content: center;
	padding-bottom: 2rem;
}

.grid_item_2 {
	grid-area: link-1;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.grid_item_3 {
	grid-area: link-2;
	padding-top: 2rem;
}

.grid_item_4 {
	grid-area: link-3;
	padding-top: 2rem;
}

.grid_item_5 {
	grid-area: link-4;
	padding-top: 2rem;
}

.grid_item_6 {
	grid-area: socials;
	justify-self: flex-start;
	align-self: start;
}

.grid_item_7 {
	grid-area: download;
	display: flex;
	gap: 1rem;
	align-items: center;
	height: fit-content;
	/* align-self: center; */
}

.socials_group {
	display: flex;
}

.social_icon {
	margin-right: 0.5rem;
}

.download_button_group {
	gap: 1rem;
}

.copyright {
	padding-top: 1rem;
	border-top: 0.5px solid var(--white);
	justify-content: space-between;
}

.privacy_links {
	gap: 1rem;
}

@media screen and (max-width: 768px) {
	.desktop_footer {
		display: none;
	}
}
