.layout_nav_mobile {
  height: 55px;
}

.layout_nav_desktop {
  height: 0;
}

.layout_main {
  margin-top: 55px;
}

@media screen and (min-width: 1024px) {
  .layout_nav_mobile {
    height: 0;
  }

  .layout_nav_desktop {
    height: 165px;
  }

  .layout_main {
    margin-top: 0;
  }
}
