@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* ? Color theme */
	--black: #000000;
	--white: #ffffff;

	/* ? Primary Colors */

	/* * deals */
	--deals-primary: #093869;
	--deals-primary-light: #ebf2ff;
	--deals-primary-med: #0c529c;
	--deals-primary-dark: #05223f;

	/* * jobs */
	--jobs-primary: #006b44;
	--jobs-primary-light: #c9f6e6;

	/* * housing */
	--housing-primary: #ca4b02;
	--housing-primary-light: #f4dbcc;

	/* * marketplace */
	--marketplace-primary: #a62b4c;
	--marketplace-primary-light: #f1d5d5;

	/* * business */
	--business-primary: #ef830f;
	--business-primary-light: #f1d5d5;

	/* ? Secondary Colors */
	/* * Secondary  */
	--secondary: #e94833;
	--secondary-light: #fbdad6;

	/* ? Text colors */
	--paragraph-color: #333333;
	--label-color: #717171;
	--title_link_primary: #002e60;

	/* ? Input and elements */
	--input-bg-primary: #d9dbe9;
	--input-bg-secondary: #f7f7fc;
	--element-color: #d9dbe9;

	/* ? Gradient colors */
	--gradient-primary: #1c3d99;
	--gradient-secondary: #e94833;

	/* ? Button */
	--login-button-color: #003ca7;

	--placeholder-color: #aeaeae;
	--text-body-color: #666666;
}

* {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
label,
button {
	font-family: var(--kanit-font), sans-serif;
	margin: 0;
	padding: 0;
}

h2,
h3,
h4 {
	font-weight: 500;
}

h1 {
	font-size: 2.25rem;
	font-weight: 600;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.375rem;
}

h4 {
	font-size: 1.25rem;
}

p {
	color: var(--paragraph-color);
}

button {
	border: transparent;
}

@media (hover: hover) {
	button {
		cursor: pointer;
	}
}
