/* CSS that needs to be applied to different components gobally */
.text_success {
	color: #00ab61;
}

.text_danger {
	color: #f20005;
}

.text_warning {
	color: #fba704;
}

.shadow_small {
	box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
		0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.shadow {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1),
		0px 4px 20px -2px rgba(0, 0, 0, 0.1);
}

.shadow_large {
	box-shadow: 0px 0px 1px rgba(49, 138, 241, 0.2),
		0px 10px 16px rgba(49, 138, 241, 0.2);
}

.shadow_xl {
	box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1),
		0px 20px 24px rgba(20, 37, 63, 0.06);
}

.shadow_2xl {
	box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1),
		0px 30px 40px rgba(20, 37, 63, 0.25);
}

.shadow_blue_small {
	box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
		10px 12px 20px -1px rgba(88, 103, 145, 0.2);
}

p.p_large {
	font-size: 1.25rem;
	font-weight: 500;
}

p.p_medium_light {
	font-size: 1.125rem;
	font-weight: 300;
}

p.p_medium_bold {
	font-size: 1.125rem;
	font-weight: 500;
}

p.p_small {
	font-size: 1rem;
	font-weight: 300;
}

p.p_xs {
	font-size: 0.875rem;
	font-weight: 400;
}

button.button_small_and_search {
	height: 32px;
	width: 142px;
	border-radius: 4px;
	padding: 8px 16px 8px 16px;
}

button.button_small {
	height: 32px;
	width: 116px;
	border-radius: 4px;
	padding: 8px 16px 8px 16px;
}

button.button_small_search {
	border-radius: 4px;
	padding: 8px 16px 8px 16px;
}

button.button_medium_and_search {
	height: 48px;
	width: 182px;
	border-radius: 4px;
	padding: 12px 16px 12px 16px;
}

button.button_medium {
	height: 48px;
	width: 148px;
	border-radius: 4px;
	padding: 12px 16px 12px 16px;
}

button.button_medium_search {
	height: 48px;
	width: 56px;
	border-radius: 4px;
	padding: 12px 16px 12px 16px;
}

button.button_large_and_seaerch {
	height: 48px;
	width: 201px;
	border-radius: 4px;
	padding: 12px 24px 12px 24px;
}

button.button_large {
	height: 48px;
	width: 167px;
	border-radius: 4px;
	padding: 12px 24px 12px 24px;
}

button.button_large_search {
	height: 48px;
	width: 72px;
	border-radius: 4px;
	padding: 12px 24px 12px 24px;
}

button.button_xl {
	height: 52px;
	width: 132px;
	border-radius: 4px;
	padding: 16px 24px 16px 24px;
}

button.button_primary {
	background-color: var(--secondary);
	color: var(--white);
}

input.input_checkbox {
	height: 24px;
	width: 24px;
	border-radius: 4px;
}

input.input_checkbox_checked {
	background-color: var(--paragraph-color);
}

label.label_text {
	color: var(--deals-primary-med);
	font-size: 1rem;
}

/* ? Cards */
.card_padding {
	padding: 15px, 15px, 20px, 15px;
}

.card_radius {
	border-radius: 8px;
}
